.login{
    width: 60%;
    margin: auto;
    margin-top: 20%;
}

form{
    border: 3px solid rgb(17, 207, 17);
}

form ion-item{
    padding: 15px;
}

form ion-button{
    width: 89%;
    height: 45px;
    margin: 15px 10px 15px;
}

.error-message{
    color:red;
}