<div class="lightbar">
    <div id="light-1" class="light strobe blue ion-margin-top">
      <div class="inner-light"></div>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
    </div>
    <div id="light-2" class="light strobe red delay">
      <div class="inner-light"></div>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
      <span class="bulb"></span>
    </div>
  </div>
  
<!--button id="alt">Sequence 2 </button>
<button id="off">Off</button-->
