<div class="background-container">
  <div class="front">
    <span class="ground" ></span>
  </div>
  
  <div class="middle">
     <div class="tree one">
        <span class="top"></span>
        <span class="overlap"></span>
        <span class="trunk"></span>
     </div>
     <div class="tree two">
        <span class="top"></span>
        <span class="overlap"></span>
        <span class="trunk"></span>
     </div>
  </div>

  <div class="back">  
    <span class="sun-rays"></span>
    <span class="sun"></span>
    <div class="cloud one">
      <span class="cloud-body"></span>
      <span class="cloud-top"></span>
      <span class="cloud-puff"></span>
    </div>
    <div class="cloud two">
      <span class="cloud-body"></span>
      <span class="cloud-top"></span>
      <span class="cloud-puff"></span>
    </div>
  </div>
  
</div>