ion-card{
    height: 15vh;    
    width: 100%;
    top: 70px;
    background-color: beige;
}

img{
    height: 13vh;
}

.rojo{
    background: var(--ion-color-rojo);
}

.amarillo{
    background: var(--ion-color-amarillo);
}

.azul{
    background: var(--ion-color-azul);
}

.violeta{
    background: var(--ion-color-violeta);
}

.verde{
    background: var(--ion-color-verde);
}