<div *ngIf="topic=='colors'">
  <ion-row *ngFor="let item of array">
    <ion-card color="{{item}}" button="true" (click)="play(item)">
      <ion-card-content></ion-card-content>
    </ion-card>
  </ion-row>
</div>

<div *ngIf="topic=='animals'">
  <ion-row *ngFor="let item of array">
    <ion-card button="true" (click)="play(item)">
      <ion-card-content>
          <img src="../../../assets/imagenes/animales/{{item}}.svg">
        </ion-card-content>
    </ion-card>
  </ion-row>
</div>

<div *ngIf="topic=='numbers'">
  <ion-row *ngFor="let item of array">
    <ion-card button="true" (click)="play(item)">
      <ion-card-content>
        <img src="../../../assets/imagenes/numeros/{{item}}.svg">
      </ion-card-content>
    </ion-card>
  </ion-row>
</div>