a {
    padding: 4px;
    border-radius: 8px;
	width: 160px;
    transition: all .1s ease;
}

a:active {
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.options{
    display: grid;
    justify-content: center;
}