<ion-button (click)="getAllImages()">Actualizar</ion-button>
<ion-slides [options]="slideOpts">
  <ion-slide class="slide" *ngFor="let image of images">
    <ion-card>
        <ion-card-header>
          <ion-card-title>
            Subida por:
          </ion-card-title>
          <ion-card-content>
            <img src={{image}}>
            <ion-icon ion-float-left (click)="vote(0)" name="thumbs-down"></ion-icon> 
            <ion-icon ion-float-right (click)="vote(1)" style="color:blue" name="thumbs-up"></ion-icon>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
  </ion-slide>
</ion-slides>
  
<ion-item *ngIf="images?.length==0">
  No hay imagenes subidas
</ion-item>