<ion-content fullscreen>
  <div>
    <button *ngIf="language" class="back"><ion-icon (click)="return()" name="arrow-back"></ion-icon></button>
    <div *ngIf="language != '' && languageBool" class="flag-container ion-text-center" (click)="changeLanguage()">
      <img class="flag"src="../../../assets/idiomas/{{language}}.svg">
    </div>
    <div *ngIf="topic != '' && topicBool" class="flag-container ion-text-right" (click)="changeTopic()">
      <img class="flag"src="../../../assets/temas/{{topic}}.svg">
    </div>
  </div>
  <app-background></app-background>
  <app-topic *ngIf="!languageBool && !topicBool" (selected)="setOption($event, 'idiomas')" [category]="'idiomas'"></app-topic>
  <app-topic *ngIf="languageBool && !topicBool" (selected)="setOption($event, 'temas')" [category]="'temas'"></app-topic>
  <app-game *ngIf="languageBool && topicBool" [language]="language" [topic]="topic"></app-game>
</ion-content>
