<ion-content fullscreen>
  <button *ngIf="language" class="back"><ion-icon (click)="return()" name="arrow-back"></ion-icon></button>
  <div *ngIf="language != '' && languageBool" class="flag-container" (click)="changeLanguage()">
    <img class="flag"src="../../../assets/idiomas/{{language}}.svg">
  </div>
  <app-background></app-background>
  <app-topic *ngIf="!languageBool && !topicBool" (selected)="setOption($event, 'idiomas')" [category]="'idiomas'"></app-topic>
  <app-topic *ngIf="languageBool && !topicBool" (selected)="setOption($event, 'temas')" [category]="'temas'"></app-topic>
  <app-game *ngIf="languageBool && topicBool" [language]="language" [topic]="topic"></app-game>
</ion-content>
