app-button{
    position: absolute;
    top: 40%;
    z-index: 100;
    width: 100%;
    text-align: center;
}

app-topic{
    position: absolute;
    top: 15%;
    z-index: 100;
    width: 100%;
    text-align: center;
}

app-game{
    position: absolute;
    min-width: 100%;    
    top: 0%;
    z-index: 100;
}

.back{
    margin: 12px;
    font-size: 42px;
    position: relative;
    z-index: 200;
    color: rgba(255,255,255,1);
    background-color: rgba(219,87,5,1);
    border-radius: 8px;
    box-shadow: 0px 7px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    width: 90px;
    height: 50px;
}

.back:active {
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    top: 6px;
}

.flag{
    position: relative;
    z-index: 200;
    width: 125px;
    height: 75px;
}

#flag-container{
    position: absolute;
    right: 0;
}

#arrow-container{
    position: absolute;
}